- content_for :title, "JMP: Your phone number on every device"

- content_for :head do
	meta property="og:url" content="https://jmp.chat"
	meta property="og:type" content="website"
	meta property="og:title" content="JMP.chat"
	meta property="og:description" content="Your phone number on every device"
	meta property="og:image" content="https://jmp.chat/static/card.png"
	meta name="twitter:card" content="summary_large_image"
	meta name="twitter:image" content="https://jmp.chat/static/card.webp"
	meta name="twitter:site" content="@JMP_chat"

	script type="application/ld+json"
		| {
			"@context": "https://schema.org",
			"@type": "Organization",
			"url": "https://jmp.chat",
			"logo": "https://jmp.chat/static/jmp.svg",
			"telephone": "+14169938000",
			"slogan": "Your phone number on every device"
			}
	script type="application/ld+json"
		| {
			"@context": "https://schema.org/",
			"@type": "Product",
			"name": "Phone Number",
			"image": ["https://jmp.chat/static/jmp.svg"],
			"brand": {
				"@type": "Brand",
				"name": "JMP"
			},
			"offers": [
				{
					"@type": "Offer",
					"url": "https://jmp.chat",
					"priceCurrency": "USD",
					"price": "2.99"
				},
				{
					"@type": "Offer",
					"url": "https://jmp.chat",
					"priceCurrency": "CAD",
					"price": "3.59"
				}
			]
			}

	scss:
		h1 {
			text-align: center;
			margin-top: 0;
		}

		body > section {
			display: block;
			float: left;
			width: 40%;
			min-width: 15em;
			vertical-align: top;
			clear: left;
			margin-top: 2em;
		}

		body > section:before {
			content: "";
			background: no-repeat center;
			background-size: contain;
			display: block;
			height: 3em;
			margin-bottom: 0.25em;
		}

		body > section:nth-of-type(2n) {
			float: right;
			clear: right;
		}

		@media (max-width: 50rem) {
			body > section {
				width: 100%;
				max-width: 30em;
				float: none;
				margin: auto;
			}

			body > section:nth-of-type(2n) {
				float: none;
			}
		}

		#signup {
			float: none;
			clear: both;
			margin: 0 auto;
			padding-top: 2em;
			text-align: center;
		}

		#devices:before {
			background-image: url(static/devices.svg);
		}

		#multiple-numbers:before {
			background-image: url(static/numbers.svg);
		}

		#freedom:before {
			background-image: url(static/freedom.svg);
		}

		#share:before {
			background-image: url(static/share.svg);
		}

		.price {
			background: #84C7F7;
			color: #1E0036;
			border-radius: 2em;
			padding: 1em;
			margin-bottom: 2em;
			display: inline-block;
			font-weight: bold;
			font-size: 1.2em;
			text-decoration: none;
			transition: color 0.25s ease-in-out;
		}

		@media (hover: hover) {
			.price:hover {
				color: #2069cf;
			}
		}

		label small { display: block; }

		.warning { text-align: center; }

		iframe {
			display: block;
			margin: 0 auto;
			border: 0;
			width: 18rem;
			height: 12rem;
		}

		.ribbon {
			width: 10em;
			height: 10em;
			overflow: hidden;
			position: absolute;
			top: -1em;
			right: -1em;
		}
		.ribbon span {
			position: absolute;
			display: block;
			left: -1em;
			top: 2em;
			transform: rotate(45deg);
			width: 15em;
			padding: 1em 0;
			background-color: #84C7F7;
			box-shadow: 0 5px 10px rgba(0,0,0,.1);
			color: #1e0036;
			text-shadow: 0 1px 1px rgba(0,0,0,.2);
			text-align: center;
			font-weight: bold;
			transition: color 0.25s ease-in-out;
		}
		@media (hover: hover) {
			.ribbon span:hover {
				color: #2069cf;
			}
		}
		@media (max-width: 25rem) {
			.ribbon { display: none; }
		}

	javascript:
		if(
			window.location.hash &&
			!document.querySelector(window.location.hash)
		) {
			window.location = "/faq" + window.location.hash;
		}

section#devices
	h1 Your phone number on every device

	p JMP gives you a real phone number that is yours for calling and texting, including group and picture messages, that works from all your devices at once.  Because we use the Jabber and SIP open protocols, you can use any existing client even if we don't have an official recommendation for your device yet!

section#multiple-numbers
	h1 Multiple phone numbers, one app

	p Get different numbers to give out to friends, to dates, to professional contacts: whatever your needs, JMP helps you protect your privacy by keeping separate parts of your life, separate.

section#freedom
	h1 Free as in Freedom

	p You have the freedom to inspect <a href="https://soprani.ca">all software</a> used to provide JMP, or even submit modifications.

section#share
	h1 Share one number with multiple people

	p JMP numbers can be shared with as many people as makes sense, either on rotation or all at once. Perfect for small groups who need to be reachable by text message.

section#signup
	a href="faq#pricing" class="price"
		- if canada
			<abbr title="Canadian Dollars">$</abbr>3.59 / month
		- else
			<abbr title="US Dollars">$</abbr>2.99 / month

	h1 Start by choosing a phone number to use

	iframe src="tels?max=5&embed"

	form method="get" action="tels" title=form.title
		- if form.instructions
			p= form.instructions
		- form.fields.each do |field|
			label
				input type="search" name=field.var placeholder=field.label
				- if field.desc
					small= field.desc

p class="warning"
	<b>Note:</b> While JMP does provide phone numbers and voice/SMS features, it does not provide 911, 112, 999 or other emergency services over voice or SMS.

a class="ribbon" href="faq#support"
	span Support
